on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - main
      - master
    paths:
      - .github/workflows/semgrep.yml
  schedule:
    - cron: 40 16 * * *

name: Semgrep

jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep

    steps:
      - uses: actions/checkout@v4

      # Run Semgrep + save JSON report
      - name: Run Semgrep
        run: semgrep ci --json --output=semgrep.json

      # Send Discord Notification
      - name: Send Discord Notification
        run: |
          issues=$(jq '.results | length' semgrep.json)

          if [ "$issues" -gt 0 ]; then
            msg="⚠️ Semgrep found **$issues** potential vulnerabilities in Remote Clinic Repo."
          else
            msg="✅ Semgrep scan complete — no vulnerabilities found in Remote Clinic Repo."
          fi

          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{\"content\": \"$msg\"}" \
               ${{ secrets.DISCORD_WEBHOOK_URL }}
